/* App.css */
.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 20px;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edge-input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  border: 1px solid;
}

.edge-input label {
  margin-right: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
